[submodule "crowdnode"]
	path = crowdnode
	url = https://github.com/dashhive/crowdnode.js
[submodule "digitalcash"]
	path = digitalcash
	url = https://github.com/dashhive/digitalcash.js.git
[submodule "dashsight"]
	path = dashsight
	url = https://github.com/dashhive/dashsight.js.git
[submodule "dashphrase.js"]
	path = dashphrase.js
	url = https://github.com/dashhive/dashphrase.js.git
[submodule "dashkeys.js"]
	path = dashkeys.js
	url = https://github.com/dashhive/dashkeys.js.git
[submodule "dashhd.js"]
	path = dashhd.js
	url = https://github.com/dashhive/DashHD.js
[submodule "secpk256k1.js"]
	path = secpk256k1.js
	url = https://github.com/dashhive/secp256k1.js
