[submodule "crowdnode"]
	path = crowdnode
	url = https://github.com/dashhive/crowdnode.js
[submodule "digitalcash"]
	path = digitalcash
	url = https://github.com/dashhive/digitalcash.js.git
[submodule "dashsight"]
	path = dashsight
	url = https://github.com/dashhive/dashsight.js.git
[submodule "dashphrase.js"]
	path = dashphrase.js
	url = https://github.com/dashhive/dashphrase.js.git
